{:deps {
        org.clojure/clojure {:mvn/version "1.11.1"}
        clj-http/clj-http {:mvn/version "3.10.1"}

        http-kit/http-kit {:mvn/version
                           ;;"2.6.0"
                           "2.7.0-beta2"
                           }
        compojure/compojure {:mvn/version "1.7.0"}
        ring/ring {:mvn/version "1.10.0"}
        org.clojure/core.memoize {:mvn/version "1.0.257"}

        org.clojure/data.json {:mvn/version "1.0.0"}
        ;; com.github.ben-manes.caffeine/caffeine {:mvn/version "3.1.6"}
        net.clojars.wkok/openai-clojure {:mvn/version "0.14.0"}

        com.phronemophobic.discord {:local/root "../discord"}
        com.phronemophobic/membrane {;; :mvn/version "0.13.1-beta"
                                     :git/url "https://github.com/phronmophobic/membrane"
                                     :git/sha "0539b69e36db6f3cfd7ca6941366032da5e110f5"
                                     }
        amazonica/amazonica {:mvn/version "0.3.165"}
        }
 :aliases
 {:server
  {:jvm-opts ["-Xmx512M"]}
  :project
  {:extra-deps
   {;; com.phronemophobic/membrane {:mvn/version "0.12.2-beta"}
    com.phronemophobic/membrane {:local/root "../membrane2"}
    com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.13-beta"}
    com.phronemophobic/schematic {:local/root "../schematic"}
    com.phronemophobic.membrane/skialib-linux-x86-64 {:mvn/version "0.13-beta"
                                                      ;; :local/root "/home/app/membrane/csource/linux-x86-64"
                                                      }
    membrane.alpha/stretch
    {:local/root "../membrane.alpha.stretch/"}

    }}}}
