{:deps {
        org.clojure/clojure {:mvn/version "1.11.1"}
        clj-http/clj-http {:mvn/version "3.10.1"}

        http-kit/http-kit {:mvn/version
                           ;;"2.6.0"
                           "2.7.0-beta2"
                           }
        compojure/compojure {:mvn/version "1.7.0"}
        ring/ring {:mvn/version "1.10.0"}
        org.clojure/core.memoize {:mvn/version "1.0.257"}

        org.clojure/data.json {:mvn/version "1.0.0"}
        ;; com.github.ben-manes.caffeine/caffeine {:mvn/version "3.1.6"}
        net.clojars.wkok/openai-clojure {:mvn/version "0.5.1"}

        com.phronemophobic.discord {:local/root "../discord"}

        com.phronemophobic/membrane {;; :mvn/version "0.13.1-beta"
                                     :git/url "https://github.com/phronmophobic/membrane"
                                     :git/sha "0539b69e36db6f3cfd7ca6941366032da5e110f5"
                                     }
        }
 :aliases
 {:project
  {:extra-deps
   {com.phronemophobic/membrane {:mvn/version "0.12.2-beta"}
    com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.12-beta"}
    com.phronemophobic/schematic {:local/root "../schematic"}
    }}}}
